* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #1c1e22;
    padding: 0;
    text-align: center;
    padding-top: 5vh;
    margin: 0;
    width: 100vw;
}

.turn-container {
    width: 175px;
    height: 85px;
    display: grid;
    margin: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    font-size: 1.5rem;
    font-weight: 700;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 45px;
    background-color: black;
    bottom: 0;
    z-index: -1;
}

.grid {
    display: grid;
    border: 3px solid #000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 40px auto;
}

.cell {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #000;
}

.cell:hover {
    background-color: black;
}

#play-again {
    background-color: aqua;
    padding: 10px 25px;
    border: none;
    display: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;

}